@import "./mixins";

.main__container {
  @include flex(center, center, row);
  flex-wrap: wrap;
}
.cards {
  @include flex(space-between, center, row);
  flex-wrap: wrap;
}
.header {
  width: 100%;
  @include flex(flex-start, center, row);
  flex-wrap: wrap;
  background-image: url(../src/img/grossery2.jpeg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  @include flex(center, center, row);
}

.button {
  border-style: none;
  border-radius: 5px;
  color: cornsilk;
  padding: 5px;
}
.button:focus,
:active {
  outline: none;
}

.modal {
  width: 45%;
  border-radius: 5px;
  background-color: #fff;
  position: absolute;
  &__header {
    width: 100%;
    @include flex(space-around, center, row);
  }
  &__title {
    color: cornsilk;
    text-align: center;
  }
  &__closeButton {
    border-style: none;
    background-color: unset;
    color: cornsilk;
    font-size: 25px;
  }
  &__text {
    color: cornsilk;
    padding: 20px;
    text-align: center;
  }
  &__buttons {
    @include flex(center, center, row);
  }
  &__button {
    margin: 20px;
    width: 70px;
  }
}
.form {
  width: 100%;
  @include flex(center, center, row);
  &__content {
    display: block;
    position: relative;
    padding: 24px;
    margin-top: 10px;
    border: solid 1px #eeeeee;
    border-radius: 24px;
  }
}

.card {
  &__container {
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
  }
  &__img {
    width: 210px;
  }
  &__star {
    width: 40px;
    height: 40px;
    margin-bottom: 0px;
    border-style: none;
    background-color: unset;
    outline: none;
  }

  &__body {
    padding: 10px;
  }
  &__addCart {
    @include flex(space-around, center, row);
  }
  &__svg {
    color: green;
  }
}

.input {
  line-height: 1.5em;
  border-radius: 4px;
  border: solid 1px #eeeeee;
  padding: 4px 6px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}
